build-*
build_*
lib
crceconet.c
checksum.h
version.h

# Added by arduino-cli when installing the adafruit:samd core.
/inventory.yaml
/library_index.json
/library_index.json.sig
/package_adafruit_index.json
/package_index.json
/package_index.json.sig
/packages
/staging
